@model IEnumerable<RotaDoViajante.Models.Usuario>

@{
    ViewData["Title"] = "Lista de Usuários";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Lista de Usuários</h2>

    <a asp-controller="Usuario"
       asp-action="Cadastro"
       class="btn btn-info">

        Novo Cadastro

    </a>
</div>

<table class="table table-striped table-hover mt-3">

    <thead class="table-dark">

        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Telefone</td>
            <td>Email</td>
            <td>Tipo</td>
            <td>Ações</td>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.IdUsuario</td>
                <td>@item.NomeUsuario</td>
                <td>@item.TelefoneUsuario</td>
                <td>@item.EmailUsuario</td>
               

                <td>

                    <a asp-action="Editar"
                       asp-route-id="@item.IdUsuario"
                       class="btn btn-primary">

                        Editar

                    </a>

                    <a asp-action="Detalhes"
                       asp-route-id="@item.IdUsuario"
                       class="btn btn-secondary">

                        Detalhes

                    </a>

                </td>

            </tr>
        }

    </tbody>

</table>